ClientWCFHostedInISS/Service References/ServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ticker" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetPriceResult" type="tns:StockPrice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="StockPrice">
    <xs:attribute name="price" type="xs:double" use="required" />
    <xs:attribute name="calls" type="xs:int" use="required" />
    <xs:attribute name="RequestedBy" type="xs:string" />
  </xs:complexType>
</xs:schema>